body {
  background-color: #f8f9fa; /* un gris claro que es suave para los ojos */
}
header {
  background-color: #007bff; /* azul de Bootstrap para el encabezado */
  color: #fff; /* texto blanco para el título */
}
.header-button {
  color: #fff; /* texto blanco para el botón */
  border-width: 1px;
  border-color: #fff; /* borde blanco para el botón */
  border-style: solid;
}
/* Puedes añadir más estilos personalizados aquí */
